{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        {#        {% for record in records %}#}
{#        {{ records_form.form_data }}#}
        <br>
        {% for record in records_form.form_data %}
            {#            {{ forloop.counter }}#}
            {% if forloop.counter == 1 %}
                {% if record.value == True %}
{#                    Урааааа! Тру#}
                    {% else %}
{#                    Бляяяяяяяяя! Фэлс!!!#}
                {% endif %}
                {{ record.label }}<span>:</span>{{ record.value }} <br>
            {% endif %}

        {% endfor %}
        {#        {% endfor %}#}
    </div>
    <!-- /.container -->

{% endblock content %}